.pickedItems-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 640px;
  height: 320px;
  margin-top: 4rem;
  transition: width 1s ease;
}

.pickedItems-container.after-result {
  width: 900px;
}

.pickedItems-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  position: relative;
}

.pickedItems-container span {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.backdrop {
  width: 220px;
  height: 220px;
  border: 30px solid transparent;
  margin-left: 30px;
  background: hsl(229, 25%, 31%);
  box-shadow: none;
  border-radius: 50%;
}

.userItemImage-container,
.compItemImage-container.picked {
  width: 250px;
  height: 250px;
  margin: 0;
  border: 30px solid #fff;
  background: #f0f0f0;
  border-radius: 50%;
}

.userItemImage-container.paper,
.compItemImage-container.paper {
  background: url(../images/icon-paper.svg) center center/50% no-repeat, #f0f0f0;
  border-color: hsl(230, 89%, 65%);
  box-shadow: inset 0px 8px hsl(220, 11%, 83%), 0px 8px hsl(230, 89%, 62%);
}

.userItemImage-container.scissors,
.compItemImage-container.scissors {
  background: url(../images/icon-scissors.svg) center center/50% no-repeat,
    #f0f0f0;
  border-color: hsl(40, 84%, 53%);
  box-shadow: inset 0px 8px hsl(220, 11%, 83%), 0px 8px hsl(39, 89%, 49%);
}

.userItemImage-container.rock,
.compItemImage-container.rock {
  background: url(../images/icon-rock.svg) center center/50% no-repeat, #f0f0f0;
  border-color: hsl(349, 70%, 56%);
  box-shadow: inset 0px 8px hsl(220, 11%, 83%), 0px 8px hsl(349, 71%, 52%);
}

.userItemImage-container img,
.compItemImage-container img {
  width: 80px;
}

.pickedItems-container > .result-container {
  justify-content: center;
  gap: 10px;
  margin-top: 35px;
  animation: pop 1s ease;
}

@keyframes pop {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  25% {
    transform: scale(1.1);
    opacity: 0;
  }
  50% {
    transform: scale(1.3);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.result-container .result {
  font-size: 3.2rem;
  text-transform: uppercase;
}

.playAgain-btn {
  background: #fff;
  padding: 10px 45px;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease;
}

.playAgain-btn:hover {
  color: hsl(349, 70%, 56%);
}

.winner {
  position: absolute;
  bottom: 0;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  transform: scale(0);
  z-index: -1;
  background: hsla(217, 16%, 45%, 0.1);
  animation: grow 1s ease;
}

.winner::before,
.winner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0);
  background: hsla(217, 16%, 45%, 0.1);
}

.winner::after {
  width: 250px;
  height: 250px;
  transform: scale(0);
}

@keyframes grow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1.5);
  }
}

.winner.picked {
  transform: scale(1.5);
}
.winner.picked::before {
  transform: scale(1.35);
}
.winner.picked::after {
  transform: scale(1.7);
}

@media screen and (max-width: 426px) {
  .pickedItems-container,
  .pickedItems-container.after-result {
    width: 100vw;
    height: 400px;
    position: relative;
    margin: 4rem auto 0 auto;
    overflow-x: clip;
    padding: 0 5%;
  }

  .pickedItems-container > div {
    flex-direction: column-reverse;
    height: 50%;
  }

  .pickedItems-container span {
    font-size: 1.1rem;
  }

  .backdrop {
    width: 125px;
    height: 125px;
    border-width: 15px;
    border-radius: 50%;
    margin: 10px 0 0 0;
  }

  .userItemImage-container,
  .compItemImage-container.picked {
    width: 140px;
    height: 140px;
    border-width: 15px;
  }

  .userItemImage-container.paper,
  .compItemImage-container.paper {
    box-shadow: inset 0px 4px hsl(220, 11%, 83%), 0px 4px hsl(230, 89%, 62%);
  }
  .userItemImage-container.scissors,
  .compItemImage-container.scissors {
    box-shadow: inset 0px 4px hsl(220, 11%, 83%), 0px 4px hsl(39, 89%, 49%);
  }
  .userItemImage-container.rock,
  .compItemImage-container.rock {
    box-shadow: inset 0px 4px hsl(220, 11%, 83%), 0px 4px hsl(349, 71%, 52%);
  }

  .pickedItems-container > .result-container {
    position: absolute;
    left: auto;
    bottom: 0;
    width: 100%;
  }

  .winner {
    width: 140px;
    height: 140px;
    top: 0;
  }

  .winner::before,
  .winner::after {
    width: 140px;
    height: 140px;
  }
}
